:root {
  --cor-fundo: #FFC0CB;
  --cor-principal: #E6E6FA;
  --cor-secundaria: #FF69B4;
  --cor-destaque: #000000;;
  --cor-texto: #FF00FF;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1{
 color: var(--cor-destaque);
}
